.section-final.section-view#section-final
	.section-final-sloganFirst
		div Начните зарабатывать 
		div свое время уже сейчас!

	.section-final-sloganSecond
		div Хочу 
		div бесплатный доступ

	.section-final-form-wrap
		.section-main-form
			.section-main-form-title Регистрация в один клик!
			form(action="#")
				input(type="text" placeholder="Введите электронную почту")
				.section-main-form-rule
					input(type="checkbox" id="r3" name="rr" checked)
					label(for="r3")
						span
						text Я принимаю 
							a(href="#") правила сервиса
				button(type="submit" value="Submit") Регистрация
	
	.section-final-footer
		.section-final-footer-left © 2016 «Наводки» 
		.section-final-footer-right
			a(href="#") 
				i.fa.fa-facebook
				i.fa.fa-vk
				i.fa.fa-youtube