.section-adv.section-view#section-adv
	.section-top-title Наводки – швейцарский нож для Ваших продаж 
	//section-adv-el
	.section-adv-el.section-adv-el-first
		.section-adv-el-img
			img(src="img/advant-bg-bay.png", alt="")
		.section-adv-el-content
			.section-adv-el-title
				.section-adv-el-title-text Участие в закупках
				.section-adv-el-title-icon
					img(src="img/icon-advant-hamer.png", alt="")
			.section-adv-el-text 
				p Забудьте о поиске нужных закупок по десяткам площадок, мы предоставляем полную базу государственных и коммерческих тендеров в одном месте

				p Мы позаботились чтобы все заказчики имели бесплатный доступ, а это значит что пригласить к участию в закупке могут именно Вас

				p К настройке отраслевого рубрикатора были привлечены эксперты по каждой сфере деятельности. Вы будете получать и выбирать только нужные закупки.

				p Умный поиск по договорам, ИНН, ключевым словам, региону и отрасли позволит без проблем находить интересующую вас информацию
		.section-adv-el-footer
			a(href="https://navodki.ru/tenders/").section-adv-el-but Участвовать
	//section-adv-el
	.section-adv-el
		.section-adv-el-img
			img(src="img/advant-bg-parners.png", alt="")
		.section-adv-el-content
			.section-adv-el-title
				.section-adv-el-title-text Наводки на 100% партнеров
				.section-adv-el-title-icon
					img(src="img/icon-advant-aim.png", alt="")
			.section-adv-el-text 
				p Заказчики и поставщики, победители и участники – анализируйте историю, оценивайте потенциал, стройте правильные прогнозы

				p Строительные объекты всей страны Вы не просто увеличите конверсию по поиску новых клиентов, вы будете знать все о Вашем потенциальном клиенте, чтобы правильно установить контакт

				p Проверка контрагента -получайте регистрационные и финансовые данные о интересующих Вас организациях по более чем 20 критериям

				p Такое только у нас - рейтинг компаний по ключевым критериям и  реальные отзывы пользователей портала имеющие опыт с ними
		.section-adv-el-footer
			a(href="https://navodki.ru/companies").section-adv-el-but Получить наводки
	//section-adv-el
	.section-adv-el
		.section-adv-el-img
			img(src="img/advant-bg-knows.png", alt="")
		.section-adv-el-content
			.section-adv-el-title
				.section-adv-el-title-text Кладовка <br> знаний
				.section-adv-el-title-icon
					img(src="img/icon-advant-book.png", alt="")
			.section-adv-el-text 
				p Собрание лучших практических  уроков от ведущих экспертов страны

				p Готовые шаблоны и формы документов, статьи и рекомендации, пошаговые руководства и  инструкции в области закупок, продаж и управления.

				p Продуманная фильтрация и рассылка уведомлений о новостях и событиях по Вашему региону и отрасли, по форумам и выставкам которые нужно посещать

				p Сотрудничайте только с лучшими. Получайте подарки и выгодные условия на квалифицированные услуги от наших партнеров – лучших мастеров своего дела
		.section-adv-el-footer
			a(href="https://navodki.ru/kladovka/").section-adv-el-but Узнать больше
	//section-adv-el
	.section-adv-el
		.section-adv-el-img
			img(src="img/advant-bg-individ.png", alt="")
		.section-adv-el-content
			.section-adv-el-title
				.section-adv-el-title-text Индивидуальный подход
				.section-adv-el-title-icon
					img(src="img/icon-advant-key.png", alt="")
			.section-adv-el-text 
				p Заказчики и поставщики, победители и участники – анализируйте историю, оценивайте потенциал, стройте правильные прогнозы

				p Строительные объекты всей страны Вы не просто увеличите конверсию по поиску новых клиентов, вы будете знать все о Вашем потенциальном клиенте, чтобы правильно установить контакт

				p Проверка контрагента -получайте регистрационные и финансовые данные о интересующих Вас организациях по более чем 20 критериям

				p Такое только у нас - рейтинг компаний по ключевым критериям и  реальные отзывы пользователей портала имеющие опыт с ними
		.section-adv-el-footer
			a(href="https://navodki.ru/preimushhestva/").section-adv-el-but Подробнее 
	//section-adv-el
	.section-adv-el
				.section-adv-el-img
					img(src="img/advant-bg-tarif.png", alt="")
				.section-adv-el-content
					.section-adv-el-title
						.section-adv-el-title-text Выгодные тарифы
						.section-adv-el-title-icon
							img(src="img/icon-advant-pocket.png", alt="")
					.section-adv-el-text 
						p Забудьте о поиске нужных закупок по десяткам площадок, мы предоставляем полную базу государственных и коммерческих тендеров в одном месте

						p Мы позаботились чтобы все заказчики имели бесплатный доступ, а это значит что пригласить к участию в закупке могут именно Вас

						p К настройке отраслевого рубрикатора были привлечены эксперты по каждой сфере деятельности. Вы будете получать и выбирать только нужные закупки.

						p Умный поиск по договорам, ИНН, ключевым словам, региону и отрасли позволит без проблем находить интересующую вас информацию
				.section-adv-el-footer
					a(href="https://navodki.ru/tarifyi/").section-adv-el-but Подобрать тариф
	a(href="#section-time" rel="m_PageScroll2id").section-next-btn.dark
		i.fa.fa-angle-down