.section-about.section-view#section-about
	.section-top-title О нас
	.section-about-users
		.section-about-users-left
			img(src="img/number-users.png", alt="")
		.section-about-users-rigth
			.section-about-number 4000
			.section-about-users-rigth-text пользователей
	.section-about-slider.owl-carousel
			.section-about-slider-wrap
				.section-about-slider-el
					.section-about-slider-el-numb 38 703
					.section-about-slider-el-text  Строящихся объектов от Севастополя до Камчатки
				.section-about-slider-el
					.section-about-slider-el-text  Больше чем
					.section-about-slider-el-numb 192 290
					.section-about-slider-el-text  строительных компаний и подрядчиков
				.section-about-slider-el
					.section-about-slider-el-text  Архив тендеров - на сумму свыше
					.section-about-slider-el-numb 50
					.section-about-slider-el-text  трлн рублей
			.section-about-slider-wrap
				.section-about-slider-el
					.section-about-slider-el-text Более
					.section-about-slider-el-numb 54 533
					.section-about-slider-el-text активных закупок  в актуальном статусе
				.section-about-slider-el
					.section-about-slider-el-text Статьи, советы и уроки от
					.section-about-slider-el-numb 40
					.section-about-slider-el-text ведущих экспертов в сфере продаж, управления и закупок
				.section-about-slider-el
					.section-about-slider-el-text Рекомендации по выбору более
					.section-about-slider-el-numb 100
					.section-about-slider-el-text лучших компаний партнеров  для оптимизации процессов Вашего бизнеса
			.section-about-slider-wrap
				.section-about-slider-el
					.section-about-slider-el-text Актуальные новости и материалы от  ведущих СМИ
				.section-about-slider-el
					.section-about-slider-el-text Сотни практических материалов в кладовке знаний с регулярным пополнением
				.section-about-slider-el
					.section-about-slider-el-text Адаптивный информационный канал для инициатив и обмена опытом на социальных площадках нашего портала
	.section-top-footerText Широкие возможности для большой страны
	a(href="#section-about" rel="m_PageScroll2id").section-next-btn
		i.fa.fa-angle-down