.section-main.section-view#section-main
	.section-main-logo
		img(src="img/logo-big.png", alt="")

	.section-main-title
		.section-main-title-black С нами уже
		.section-main-title-number 4000
		.section-main-title-whtie пользователей

	.section-main-video
		.section-main-video-filter
		img(src="img/icon-play.png", alt="")
		iframe(src="https://www.youtube.com/embed/kZ2SWrx_KTs?&controls=0&rel=0&showinfo=0" ).introVideo

	a(href="https://navodki.ru/#register" class="section-main-registration-but") Регистрация
	a(href="#section-tarifs" rel="m_PageScroll2id").section-main-sale-but Акции
	a(href="#section-adv" rel="m_PageScroll2id").section-next-btn
		i.fa.fa-angle-down
