.section-about.section-view#section-about
	.section-top-title О нас
	.section-about-users
		.section-about-users-left
			img(src="img/number-users.png", alt="")
		.section-about-users-rigth
			.section-about-number 3871
			.section-about-users-rigth-text пользователей
	.section-about-slider.owl-carousel 
		- for (var x = 0; x < 3; x++)
			.section-about-slider-wrap
				.section-about-slider-el
					.section-about-slider-el-numb 3 703
					.section-about-slider-el-text  Строящихся объектов от Севастополя до Камчатки
				.section-about-slider-el
					.section-about-slider-el-text  Больше чем
					.section-about-slider-el-numb 192 290
					.section-about-slider-el-text  строительных компаний и подрядчиков

				.section-about-slider-el
					.section-about-slider-el-text  Архив тендеров - на сумму свыше 
					.section-about-slider-el-numb 50
					.section-about-slider-el-text  трлн рублей
	.section-top-footerText Широкие возможности для большой страны