.section-clients.section-view#section-clients
	.section-clients-title Наши клиенты
	.section-clients-el-wrap
		.section-clients-el
			.section-clients-el-top
				.section-clients-el-top-text
					ul
						li Определение потенциала заказчиков региона по видам работ
						li Анализ конкурентов
						li Выход на проектные институты, на специалистов заказчика
						li Все тендеры в одном месте
						li Строительные объекты и компании всей страны

				img(src="img/Client-bg-service.png", alt="")
			.section-clients-el-bot Поставщики и <br> производители товаров и услуг

		.section-clients-el
			.section-clients-el-top
				.section-clients-el-top-text
					ul
						li Услуги по операционному обслуживанию 
						li Банковские гарантии и обеспечения
						li Специальные условия для пользователей портала

				img(src="img/Client-bg-money.png", alt="")
			.section-clients-el-bot Финансовые <br> учреждения

		.section-clients-el
			.section-clients-el-top
				.section-clients-el-top-text
					ul
						li Бесплатный доступ к порталу для заказчиков
						li Проверка контрагента на благонадежность
						li Рейтинги компаний по различным категориям
						li Наводки на поставщиков -  как на победителей процедур, так и на участников для привлечения новых партнеров


				img(src="img/Client-bg-build.png", alt="")
			.section-clients-el-bot Инвесторы, застройщики, подрядчики заказчики

		.section-clients-el
			.section-clients-el-top
				.section-clients-el-top-text
					ul
						li Практические уроки и советы от ведущих экспертов в области продаж, управления и закупок
						li Обширная база клиентов с функцией выгрузки
						li Актуальная и подробная информация по каждой компании
						li Готовые к использованию шаблоны документов
						li Работающие материалы в помощь по найму, адаптации, мотивации персонала и структурам отделов


				img(src="img/Client-bg-manager.png", alt="")
			.section-clients-el-bot Менеджеры и руководители отдела продаж, топ менеджеры и собственники бизнеса

		.section-clients-el
			.section-clients-el-top
				.section-clients-el-top-text
					ul
						li Актуальные новости, подписка по рубрикам и регионам
						li Аналитические статьи
						li Полезные контакты
						li Партнерская программа
						li Уроки от ведущих экспертов в области маркетинга



				img(src="img/Client-bg-smi.png", alt="")
			.section-clients-el-bot Маркетологи, СМИ 
		
	.section-clients-form-wrap
		.section-main-form
			.section-main-form-title Регистрация в один клик!
			form(action="#")
				input(type="text" placeholder="Введите электронную почту")
				.section-main-form-rule
					input(type="checkbox" id="r4" name="rr" checked)
					label(for="r4")
						span
						text Я принимаю 
							a(href="#") правила сервиса
				button(type="submit" value="Submit") Регистрация
	a(href="#section-tarifs" rel="m_PageScroll2id").section-next-btn
		i.fa.fa-angle-down