.section-lider.section-view#section-lider
	.section-lider-topQuote.section-lider-Quote
		.section-lider-Quote-title ВСЕГДА В КУРСЕ СОБЫТИЙ
		.section-lider-Quote-text Только важные для ВАС новости события и обновления, ничего лишнего
		a(href="#").section-lider-Quote-but Подписаться

	.section-lider-leftQuote.section-lider-Quote
		.section-lider-Quote-title НАЧАТЬ ЛЕГКО
		.section-lider-Quote-text Персональный менеджер и индивидуальные настройки помогут вам оптимизировать работу именно под ВАШИ потребности
		a(href="#").section-lider-Quote-but Регистрация <span> в один клик

	.section-lider-rightQuote.section-lider-Quote
		.section-lider-Quote-title НЕОГРАНИЧЕННЫЕ ВОЗМОЖНОСТИ
		.section-lider-Quote-text Обширный инструментарий открывает широкие возможности для достижения ВАШИХ целей
		a(href="#").section-lider-Quote-but Подробнее
	.section-lider-title Хотите стать лидером отрасли?

	.section-lider-form-wrap
		.section-main-form
			.section-main-form-title Регистрация в один клик!
			form(action="#")
				input(type="text" placeholder="Введите электронную почту")
				.section-main-form-rule
					input(type="checkbox" id="r5" name="rr" checked)
					label(for="r5")
						span
						text Я принимаю 
							a(href="#") правила сервиса
				button(type="submit" value="Submit") Регистрация
	.section-lider-toolTip
		.section-lider-toolTip-title Участвуйте и побеждайте!
		.section-lider-toolTip-text Если Вы читаете эту статью, то скорее всего Вы давно думаете над тем, чтобы поучаствовать в поставках для компаний которые закупают через торговые площадки. И правильно делаете! Для того чтобы ускорить Ваше желание сформируйте на нашем сайте navodki.ru статистику сколько в Вашем регионе потенциальных заказчиков и какой объем закупается. Ну что? Как Вам? Рассчитывать конечно сразу на большую долю в этих закупкам не стоит, но для начала возьмите хотя бы 1% и будет уже не плохо, правда? Дальше больше, ставьте амбициозные цели и у Вас все получится. 
		a(href="#").section-lider-toolTip-link Читать полностью